nav{
   box-shadow: 2px 2px 10px black;
  position: sticky;
  top: 0;
  margin-bottom: 32px;
  background: white;
  padding: 10px;
  z-index: 50;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#container{
    max-width: 1200px;
    margin: 0 auto;
}
.hero{
    display: flex;
    justify-content:center;
    gap: 100px;
    align-items: center;


}
.hero_content{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.features{
    display: flex;
   justify-content: center;
    gap: 10px;
    margin-bottom:80px;
}
.features:hover{
    box-shadow: 2px 2px 10px black;
}
.feature{
    display: flex;
    gap:10px;
    padding: 10px;
    transition: 0.2s ease-in-out;
}
.feature img{
    width: 72px;
}
.border_divider{
    border: 2px solid black;
    
}
.grid_content{
    width: 100%;
    height: 100%;
}
.grid{
   display:grid;
   gap: 10px;
   grid-template-areas: "I1 I1 I2"
                        "I1 I1 I2"
                        "I3 I4 I5";
}
.img6{
     grid-area: I1;
     
}
.img1{
     grid-area: I2;
    
}
.img2{
     grid-area: I3;
    
}
.img3{
     grid-area: I4;
}
.img4{
     grid-area: I5;
     
}
footer{
    background-color: wheat;

}
.footer_container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.icon_container{
    display: flex;
    gap:"15px";
}
@media(max-width: 787px)
{
    .hero {
        flex-direction: column;
     }
     .img1{
        display: flex;
        justify-content: center;
     }
     .img1 img{
        width: 80%;
     } 
     .hero_content{
        gap: 10px;
     }
     .hero_content h1{
        font-size: 32px;
     }
     .features{
        flex-direction: column;
     }
     .grid{
        padding: 10px;
     }
     .footer_container{
        flex-direction: column;
     }

}
.tag{
    background-color: green;
    padding: 5px 10px;
    color: white;
    align-self: self-start;
    margin-bottom: 10px;
}
.header3{
    font-size: 50px;
}
.expbtn{
    background-color: orangered;
     align-self: self-start;

}
button {
  padding: 10px 15px;
  border: none;
  transition: 0.2s ease-in-out;
}
button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}
html,
body {
  line-height: 1.4;
  font-weight: 300;}

  .header3{
   margin-bottom:1px;
   margin-top: 10px;
  }
 .btn{
    background-color: green;
    font-size:20px;
 }

     







